# =========================
# DATABASE
# =========================
DB_HOST=db
DB_PORT=3306
DB_NAME=cmport_gerenciamento
DB_USER=root
DB_PASSWORD=senha_forte_aqui

# =========================
# AUVO
# =========================
AUVO_API_KEY=coloque_sua_api_key
AUVO_API_TOKEN=coloque_seu_api_token

# =========================
# APP
# =========================
ENV=development
