# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.Python

# =========================
# Virtualenv
# =========================
venv/
.env/
.env.*
!.env.example
!.env.production.example
backend/.env

# =========================
# FastAPI / Uvicorn
# =========================
*.sqlite3
uvicorn.log

# =========================
# Docker
# =========================
*.pid
docker-compose.override.yml

# =========================
# MySQL
# =========================
db_data/
mysql-data/

# =========================
# Alembic
# =========================
alembic/versions/*.pyc

# =========================
# IDEs / OS
# =========================
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# =========================
# Testes / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Node
# =========================
node_modules/
cmport-front/.next/
cmport-front/.env.local
cmport-front/.env.production

# =========================
# Produção
# =========================
.env.production

# =========================
# Certificados Inter (sensível)
# =========================
backend/app/auth/*.crt
backend/app/auth/*.key